body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: black;
    color: rgb(14, 191, 14);
    font-family: 'Courier New', Courier, monospace;
}
.moeda{
    display: flex;
    padding-right: 20px;
}
div{
    padding-left: 50px;
}

input{
    all: unset;
    border: solid green 1px;
    background-color: aliceblue;
    padding: 1px;
    padding-left: 3px;

    width: 110px;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    margin-bottom: 5px;
    
}
spam{
    color: red;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(255, 0, 0);
}
.txt{
    margin-left: 170px;
}.metodo{
    all: unset;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: solid green 1px;
    color: rgb(0, 0, 0);
    cursor: pointer;    
    width: 110px;
    padding: 1px;
    padding-left: 3px;
}
.oculto{
    display: none;
}